body { 
    background-color: #fff;
    text-align: center;
    align-items: center;
    }

fieldset {
    width: 40%;
    height: 40%;
    margin: 0 auto;

    border: lightcyan;
    box-shadow:0 0 2px lightblue;
}

img {
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

input {
    background: aliceblue;
    border: blue;
    height: 29px;
    
}


button {
    margin: 0 auto;
    height: 29px;
    background: blue;
    border: lightcyan;
    width: 80px;
    font: 9px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    
}

* {
    border-radius: 2px;
}


.container-sm{
     align-content: center;
}
